@import'variables';

h1,
h2,
h3,
h4{
    font-family: 'dokdo';
    color:$gold;
}

p{
    font-family: 'lato';
    font-size: 1.2rem;
    line-height: 32px;
    letter-spacing: 2px;
}

h1{
    font-size: 5rem;
}

h2{
    font-size:4rem;
    line-height: 69.9px;
}

h3{
    font-size:2rem;
    line-height: 58px;
    letter-spacing: 4.9px;

}

h4{
    font-size: 40px;
}