@import'variables';
@import'fonts';

// styles for index.html

.homeContainer{
    position: absolute;
    width:100%;
    top:40%;
    left:0;
    img{
        float:left;
        min-width:40%;
        min-height: 40%;
        max-width: 400px;
        max-height: 400px;
        padding-right:20px;
    }
}

.homeContainer span{
    font-size:2rem;
    color:#fff;
}

.homeContainer2{
    padding: 10% 0;
}

.homeContainer2>div{
    display:flex;
    justify-content: space-between;
    img{
        width:300px;
        height: 300px;
        box-shadow: -20px 20px $green;
        margin-left:30px;
    }
}

.gridContainer>div{
    display:flex;
    padding:10% 0;
    img{
        padding: 0 20px;
    }
}

.gridContainer2{
    padding: 0 0 5% 0;
}

.blockRow1,
.blockRow2{
    padding: 20px 0;
    display:flex;
    .block{
        width:50%;
    }
}

aside{
    height:auto;
}

.homeRow1,
.homeRow2{
    display:flex;
    position: relative;
    img{
        box-shadow: 10px 10px $gold;
        position: absolute;
        width:50%;
        max-width:700px;
    }
    .pic2 img{
        box-shadow: -10px 10px $gold;
    }
}

.pic1,
.text,
.pic2,
.text2{
    width:50%;
}

.text,
.text2{
    padding:5%;
}

.text2{
    text-align: right;
    p:nth-child(2){
        text-align:left;
    }
}

.pic1 img{
    width:40%;
    top:-5%;
}

.pic2 img{
    width:40%;
    bottom:-10%;
    right:0;
}

// styles for form.html

.flexContainerForm{
    display:flex;
    justify-content: space-between;
    padding:10% 0;
    height: 60vh;
}

.flexContainerFormLeft{
    width:60%;
    position:relative;
}

.flexContainerFormRight p{
    font-size:0.8rem;
    line-height:25px;
}

fieldset{
    display:flex;
    flex: 1 0 auto;
    flex-direction: column;
    background-color:$charcoal;
    box-shadow: 15px 15px $gold;
    padding:3%;
    position: absolute;
    top:-85%;
    width:700px;
    height:400px
}

.formRow input[type=text],
.formRow input[type=email]{
    color:$blue;
    margin:0 0 7% 10px;
    border:none;
    background: transparent;
    border-bottom:2px solid $gold;
    font-size:1.2rem;
    font-weight:100;
    height:5vh;
    padding:3%;
}

.formRow input[type=text]:focus,
.formRow input[type=email]:focus,
textarea:focus{
    background-color: $camo;
    border:dotted 2px $blue;
}

textarea{
    background:transparent;
    border:2px solid $gold;
    color:$blue;
    height:30vh;
    margin-bottom:5%;
    font-family: 'lato';
    padding:5%;
}

.basicInfo button{
    width: 80%;
    padding:5px;
    margin: 0 auto;
}

ul.social a{
    margin-bottom:20px;
    color:$gold;
    font-size:2rem;
    display: inline-block;
}

