@import'variables';
@import'fonts';

// styles for index.html

.homeContainer{
    position: absolute;
    width:100%;
    top:35%;
    left:0;
    img{
        float:left;
        min-width:40%;
        min-height: 40%;
        max-width: 380px;
        max-height: 380px;
        padding-right:20px;
    }
}

.homeContainer span{
    font-size:2rem;
    color:#fff;
}

.homeContainer2{
    padding: 10% 0;
}

.homeContainer2>div{
    display:flex;
    justify-content: space-between;
    img{
        width:300px;
        height: 300px;
        box-shadow: -20px 20px $green;
        margin-left:30px;
    }
}

.trio{
    display:flex;
    img{
        min-width: 25%;
    }
}

.gridContainer>div{
    display:flex;
    padding:10% 0;
    img{
        padding: 0 20px;
    }
}

.gridContainer2{
    padding: 0 0 5% 0;
}

.blockRow1,
.blockRow2{
    padding: 20px 0;
    display:flex;
    .block{
        width:50%;
    }
}

.homeRow1,
.homeRow2{
    display:flex;
    position: relative;
    img{
        box-shadow: 10px 10px $gold;
        position: absolute;
        width:50%;
        max-width:700px;
    }
    .pic2 img{
        box-shadow: -10px 10px $gold;
    }
}

.pic1,
.text,
.pic2,
.text2{
    width:50%;
}

.text,
.text2{
    padding:3%;
}

.text2{
    text-align: right;
    p:nth-child(2){
        text-align:left;
    }
}

.pic1 img{
    min-width:40%;
    top:-5%;
}

.pic2 img{
    min-width:40%;
    bottom:-10%;
    right:0;
}

.pic2Placeholder{
    display:none;
}

// styles for blog.html

.blogContainer{
    display:flex;
    justify-content: space-between;
    position: relative;
    height:160vh;
    .blogContainerLeft{
        width:60%;
        padding-bottom:5%;
        position: absolute;
        top:-7%;
        p{
            font-size:1.2rem;
            margin-bottom:20px;
        }
    }
    .blogContainerRight{
        width:30%;
        background-color: $green;
        right:0;
        position:absolute;
        top:7%;
        padding-bottom:5%;
    }
}

.blogContainerLeft div:first-child{
    position: relative;
    top:-10px;
    left:-10px;
}

.blogContainerLeft img{
    box-shadow: 10px 10px $green;
}

.featureText{
    border-right: solid 4px $green;
    border-bottom:solid 4px $green;
}

.blogContainerRight h4,
.asideContainer h2{
    color:$blue;
    padding:4% 0;
}

.shadow1{
    position:relative;
    height:47vh;
}

.blogContainerRight img{
    position:absolute;
    top:-5%;
    width:95%;
    height:95%;
    right:0;
}

.blogContainer p,
.blogContainer h4,
.blogContainer h3,
.blogContainer li{
    padding:0 10%;
}

.blogContainerRight li::before{
    content: '\2022';
    font-size:1.3rem;
    color:$gold;
    padding-right:2%;
}

.blogRow1,
.blogRow2{
    display:flex;
    width:60%;
    padding:10px;
    p{
        font-size: 0.9rem;
        line-height: 24px;
    }
}

.blogRow1 p:first-child,
.blogRow2 p:first-child{
    color:$gold;
    margin-bottom:2%;
}

.blogRow1 img,
.blogRow2 img{
    height: 100px;
    width: 100px;
    margin: 10px 20px 0 0;
}

.blogFooter button{
    width:50%;
}

// styles for form.html

.flexContainerForm{
    display:flex;
    justify-content: space-between;
    padding:10% 0;
    height: 60vh;
}

.flexContainerFormLeft{
    width:60%;
    position:relative;
}

.flexContainerFormRight p{
    font-size:0.8rem;
    line-height:25px;
}

.basicInfo2{
    display:flex;
    flex: 1 0 auto;
    flex-direction: column;
    background-color:$charcoal;
    box-shadow: 15px 15px $gold;
    padding:3%;
    position: absolute;
    top:-100%;
    width:700px;
    height:400px;
}

.formRow input[type=text],
.formRow input[type=email]{
    color:$blue;
    margin:0 0 7% 10px;
    width:45%;
    background: transparent;
    border:none;
    border-bottom:2px solid $gold;
    font-size:1.2rem;
    font-weight:100;
    height:5vh;
    padding:3%;
}

.blogFooter input[type=text],
.blogFooter input[type=email]{
    width: 29%;
}

.formRow input[type=text]:focus,
.formRow input[type=email]:focus,
textarea:focus{
    background-color: $green;
    border:dotted 2px $blue;
}

textarea{
    background:transparent;
    border:2px solid $gold;
    color:$blue;
    height:30vh;
    margin-bottom:5%;
    font-family: 'lato';
    padding:5%;
    width:60%;
}

.basicInfo2 textarea{
    width:100%;
}

.basicInfo button{
    width: 60%;
    padding:5px;
    margin: 0 auto 5% auto;
}

ul.social a{
    margin-bottom:20px;
    color:$gold;
    font-size:2rem;
    display: inline-block;
}

