a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-family: "lato", Arial, Helvetica, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1350px;
  width: 90%;
  margin: 0 auto;
}

img {
  width: 100%;
}

.homeContainer2,
main,
footer,
.asideBlog {
  background-color: #1E140E;
}

.gridContainer,
aside {
  background-color: #262725;
}

button {
  color: #FAFFFE;
  font-family: 'dokdo';
  background-color: #555F02;
  border: none;
  padding: 10px;
  font-size: 1.5rem;
  -webkit-transition: ease-in 200ms;
  transition: ease-in 200ms;
  border: 2px solid transparent;
}

button:hover {
  border: #FFC600 2px solid;
  color: #FAFFFE;
  background: #262725;
}

button:focus {
  border: dotted #FAFFFE 2px;
  background: #262725;
}

a {
  -webkit-transition: ease 300ms;
  transition: ease 300ms;
  border: 4px solid transparent;
}

a:hover,
a:focus {
  color: #FFC600;
}

.icon {
  display: inline-block;
  font-size: 1.5rem;
  color: white;
  padding: 10px 20px 0 0;
}

.fas {
  background: #555F02;
  border-radius: 50%;
  padding: 10px;
}

h1,
h2,
h3,
h4 {
  font-family: 'dokdo';
  color: #FFC600;
}

p {
  font-family: 'lato';
  font-size: 1.2rem;
  line-height: 32px;
  letter-spacing: 2px;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
  line-height: 69.9px;
}

h3 {
  font-size: 2rem;
  line-height: 58px;
  letter-spacing: 4.9px;
}

h4 {
  font-size: 40px;
}

header {
  height: 80vh;
  background-size: cover;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  position: relative;
  padding-top: 3%;
}

header ul a {
  padding: 0 20px;
  text-decoration: none;
  color: #FAFFFE;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}

header ul li:first-child a {
  position: absolute;
  left: 0;
  top: 10px;
  color: #FFC600;
  text-transform: none;
  font-family: 'dokdo';
  font-size: 41.5px;
  font-weight: 400;
}

header ul li:nth-child(6) {
  display: none;
}

header.home {
  position: relative;
  background-image: url("../assets/home1.jpg");
  height: 60vh;
}

header.blog {
  background-image: url("../assets/blog1.jpg");
  position: relative;
}

header.blog h1 {
  position: absolute;
  left: 10%;
  top: 40%;
}

header.form {
  background-image: url("../assets/form1.jpg");
  height: 50vh;
  position: relative;
}

header.form h1 {
  position: absolute;
  left: 5%;
  top: 40%;
}

h1,
h2,
h3,
h4 {
  font-family: 'dokdo';
  color: #FFC600;
}

p {
  font-family: 'lato';
  font-size: 1.2rem;
  line-height: 32px;
  letter-spacing: 2px;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
  line-height: 69.9px;
}

h3 {
  font-size: 2rem;
  line-height: 58px;
  letter-spacing: 4.9px;
}

h4 {
  font-size: 40px;
}

.homeContainer {
  position: absolute;
  width: 100%;
  top: 35%;
  left: 0;
}

.homeContainer img {
  float: left;
  min-width: 40%;
  min-height: 40%;
  max-width: 380px;
  max-height: 380px;
  padding-right: 20px;
}

.homeContainer span {
  font-size: 2rem;
  color: #fff;
}

.homeContainer2 {
  padding: 10% 0;
}

.homeContainer2 > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.homeContainer2 > div img {
  width: 300px;
  height: 300px;
  -webkit-box-shadow: -20px 20px #555F02;
          box-shadow: -20px 20px #555F02;
  margin-left: 30px;
}

.gridContainer > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10% 0;
}

.gridContainer > div img {
  padding: 0 20px;
}

.gridContainer2 {
  padding: 0 0 5% 0;
}

.blockRow1,
.blockRow2 {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blockRow1 .block,
.blockRow2 .block {
  width: 50%;
}

.homeRow1,
.homeRow2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.homeRow1 img,
.homeRow2 img {
  -webkit-box-shadow: 10px 10px #FFC600;
          box-shadow: 10px 10px #FFC600;
  position: absolute;
  width: 50%;
  max-width: 700px;
}

.homeRow1 .pic2 img,
.homeRow2 .pic2 img {
  -webkit-box-shadow: -10px 10px #FFC600;
          box-shadow: -10px 10px #FFC600;
}

.pic1,
.text,
.pic2,
.text2 {
  width: 50%;
}

.text,
.text2 {
  padding: 5%;
}

.text2 {
  text-align: right;
}

.text2 p:nth-child(2) {
  text-align: left;
}

.pic1 img {
  width: 40%;
  top: -5%;
}

.pic2 img {
  width: 40%;
  bottom: -10%;
  right: 0;
}

.blogContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  height: 160vh;
}

.blogContainer .blogContainerLeft {
  width: 60%;
  padding-bottom: 5%;
  position: absolute;
  top: -7%;
}

.blogContainer .blogContainerLeft p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.blogContainer .blogContainerRight {
  width: 30%;
  background-color: #555F02;
  right: 0;
  position: absolute;
  top: 7%;
  padding-bottom: 5%;
}

.blogContainerLeft img {
  -webkit-box-shadow: 10px 10px #555F02;
          box-shadow: 10px 10px #555F02;
}

.featureText {
  border-right: solid 4px #555F02;
  border-bottom: solid 4px #555F02;
}

.blogContainerRight h4,
.asideContainer h2 {
  color: #FAFFFE;
  padding: 4% 0;
}

.shadow1 {
  position: relative;
  height: 47vh;
}

.blogContainerRight img {
  position: absolute;
  top: -5%;
  width: 95%;
  height: 95%;
  right: 0;
}

.blogContainer p,
.blogContainer h4,
.blogContainer h3,
.blogContainer li {
  padding: 0 10%;
}

.blogContainerRight li::before {
  content: '\2022';
  font-size: 1.3rem;
  color: #FFC600;
  padding-right: 2%;
}

.blogRow1,
.blogRow2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  padding: 10px;
}

.blogRow1 p,
.blogRow2 p {
  font-size: 0.9rem;
  line-height: 24px;
}

.blogRow1 p:first-child,
.blogRow2 p:first-child {
  color: #FFC600;
  margin-bottom: 2%;
}

.blogRow1 img,
.blogRow2 img {
  height: 100px;
  width: 100px;
  margin: 10px 20px 0 0;
}

.blogFooter button {
  width: 50%;
}

.flexContainerForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10% 0;
  height: 60vh;
}

.flexContainerFormLeft {
  width: 60%;
  position: relative;
}

.flexContainerFormRight p {
  font-size: 0.8rem;
  line-height: 25px;
}

.basicInfo2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #262725;
  -webkit-box-shadow: 15px 15px #FFC600;
          box-shadow: 15px 15px #FFC600;
  padding: 3%;
  position: absolute;
  top: -100%;
  width: 700px;
  height: 400px;
}

.formRow input[type=text],
.formRow input[type=email] {
  color: #FAFFFE;
  margin: 0 0 7% 10px;
  width: 45%;
  background: transparent;
  border: none;
  border-bottom: 2px solid #FFC600;
  font-size: 1.2rem;
  font-weight: 100;
  height: 5vh;
  padding: 3%;
}

.blogFooter input[type=text],
.blogFooter input[type=email] {
  width: 29%;
}

.formRow input[type=text]:focus,
.formRow input[type=email]:focus,
textarea:focus {
  background-color: #555F02;
  border: dotted 2px #FAFFFE;
}

textarea {
  background: transparent;
  border: 2px solid #FFC600;
  color: #FAFFFE;
  height: 30vh;
  margin-bottom: 5%;
  font-family: 'lato';
  padding: 5%;
  width: 60%;
}

.basicInfo2 textarea {
  width: 100%;
}

.basicInfo button {
  width: 60%;
  padding: 5px;
  margin: 0 auto 5% auto;
}

ul.social a {
  margin-bottom: 20px;
  color: #FFC600;
  font-size: 2rem;
  display: inline-block;
}

.footerContainer {
  padding: 10% 0;
  text-align: center;
}

.footerContainer p {
  padding-bottom: 5%;
}

.copyright {
  background: #262725;
  text-align: center;
}

@media (max-width: 1100px) {
  h1 {
    color: pink;
  }
  .flexContainerForm {
    height: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 3% 0;
  }
  .flexContainerForm .flexContainerFormLeft {
    width: auto;
  }
  .basicInfo2 {
    position: static;
  }
}

@media (max-width: 1060px) {
  h1 {
    color: orange;
  }
  .flexContainerForm {
    display: block;
  }
  .basicInfo2 {
    margin-bottom: 20px;
    width: 100%;
  }
}

@media (max-width: 980px) {
  h1 {
    color: red;
  }
  .blog {
    height: 50vh;
  }
  .blogContainer {
    height: auto;
    display: block;
  }
  .blogContainer .blogContainerLeft img {
    width: 60%;
  }
  .blogContainer .blogContainerLeft,
  .blogContainer .blogContainerRight {
    position: static;
    width: 100%;
  }
  .featureText {
    border: none;
  }
  .blogContainerRight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5% 10% 0 10%;
  }
  .shadow1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
  }
  .shadow1 img {
    position: static;
  }
  .blogRow1,
  .blogRow2 {
    width: 100%;
  }
  .blogFooter {
    padding-top: 5%;
  }
  .blogFooter button {
    width: 100%;
  }
  .blogFooter input[type=text],
  .blogFooter input[type=email] {
    width: 48%;
  }
  textarea {
    width: 100%;
  }
}

@media (max-width: 790px) {
  h1 {
    color: blue;
    position: static;
    text-align: center;
    border: red solid 2px;
  }
  header ul li:nth-child(6) {
    display: block;
  }
  header ul li .ham {
    background-color: transparent;
    font-size: 2.5rem;
    color: #FAFFFE;
    -webkit-transition: ease 300ms;
    transition: ease 300ms;
  }
  .ham:hover {
    color: #FFC600;
  }
  header ul li:nth-child(2),
  header ul li:nth-child(3),
  header ul li:nth-child(4),
  header ul li:nth-child(5) {
    visibility: hidden;
  }
  .flexContainerFormRight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 774px) {
  h1 {
    color: purple;
  }
  .basicInfo2 {
    width: auto;
    height: auto;
  }
  .formRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .asideBlog h2 {
    text-align: center;
  }
}

@media (max-width: 480px) {
  h1 {
    color: green;
  }
}
